.idea/
digital_contracts_mobile/lib/ui/views/login/login_viewmodel.dart
Contract-core/.project
Contract-core/.settings/org.springframework.ide.eclipse.prefs
ContractAdm-rest/.project
ContractAdm-rest/.settings/org.springframework.ide.eclipse.prefs
ContractAdm-rest/logs/spring-boot-logger.log
ContractAdm-rest/logs/archived/spring-boot-logger-2020-09-15.0.log
ContractCli-rest/.project
ContractCli-rest/.settings/org.springframework.ide.eclipse.prefs
ContractAdm-rest/logs/spring-boot-logger.log
ContractCli-rest/.project
digital_contracts_mobile/lib/ui/views/login/login_viewmodel.dart
ContractAdm-rest/.project
ContractAdm-rest/logs/spring-boot-logger.log
ContractCli-rest/.project
ContractCli-rest/.project
Util-rest/.settings/org.springframework.ide.eclipse.prefs
Util-rest/.project
